.parent {
    margin: 20px;
    padding: 40px;
    background-color: lightgreen;
}

 .child1 {
    background-color: red;
    height: 65px;
}

 .child2 {
    height: 65px;
    background-color: yellow;
    margin-top: -20px;
}